<header id="header-part">
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="./">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="./">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./?page=blogs">Tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./?page=about">Về chúng tôi</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./?page=contact">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</header>

<footer id="footer-part">
    <div class="footer-top pt-40 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about mt-40">
                        <div class="logo">
                            <a href="#"><img src="assets/images/logo-2.png" alt="Logo"></a>
                        </div>
                        <p>Trang tin tức học đường hàng đầu, mang đến thông tin mới nhất về giáo dục, sự kiện và cuộc
                            sống sinh viên.</p>
                        <ul class="mt-20">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div> <!-- footer about -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-link mt-40">
                        <div class="footer-title pb-25">
                            <h6>Liên kết nhanh</h6>
                        </div>
                        <ul>
                            <li><a href="./"><i class="fa fa-angle-right"></i>Trang chủ</a></li>
                            <li><a href="./?page=about"><i class="fa fa-angle-right"></i>Về chúng tôi</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Khóa học</a></li>
                            <li><a href="./?page=blog"><i class="fa fa-angle-right"></i>Tin tức</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Sự kiện</a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Thư viện ảnh</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Mua sắm</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Giáo viên</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Hỗ trợ</a></li>
                            <li><a href="./?page=contact"><i class="fa fa-angle-right"></i>Liên hệ</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-link support mt-40">
                        <div class="footer-title pb-25">
                            <h6>Hỗ trợ</h6>
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Câu hỏi thường gặp</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Chính sách bảo mật</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Điều khoản sử dụng</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Hỗ trợ kỹ thuật</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i>Tài liệu hướng dẫn</a></li>
                        </ul>
                    </div> <!-- support -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-address mt-40">
                        <div class="footer-title pb-25">
                            <h6>Liên hệ với chúng tôi</h6>
                        </div>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="cont">
                                    <p>12 Hồ Tùng Mậu, TP. Hà Nội</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="cont">
                                    <p>+84 123 456 789</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="cont">
                                    <p>info@tintuchocduong.com</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- footer address -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer top -->

    <div class="footer-copyright pt-10 pb-25">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright text-md-left text-center pt-15">
                        <p>&copy; 2024 Tin Tức Học Đường. Bảo lưu mọi quyền.</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- footer copyright -->
</footer>